@import "tailwindcss";
@theme{
  --font-inter: "Inter" ;
  --font-karan: "Karantina" ;
  --font-fatface: "Abril Fatface" ;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
}

html, body {
  overflow-x: hidden; 
  width: 100vw; 
}


#root {
  overflow-x: hidden;
}